@import 'tailwindcss';

@theme {
	--color-surface: #fbf9f7;
	--color-on-surface: #1b1c1b;
	--color-on-surface-variant: #424844;
	--color-primary: #172820;
	--font-body-md: 'Hanken Grotesk', sans-serif;
	--font-headline-lg: 'Hanken Grotesk', sans-serif;
}

body {
	margin: 0;
	font-family: var(--font-body-md);
}
